{% extends 'base.html' %}
{% load i18n %}
{% load timtec_markdown %}
{% load staticfiles %}

{% block content %}
        <!-- CONTAINER -->
        <div id="home" class="container">
            <ol class="breadcrumb">
              <li><a href="#">Carreiras Mupi</a></li>
              <li class="active">Web Design</li>
              <li class="pull-right">
                <a href="#" data-toggle="modal" data-target="#modal-help">Como funciona?</a>
              </li>
            </ol>
            <header class="page-header">
                <h1>Carreira de Web Design</h1>
                <h2>Aprenda a criar Websites com <span class="label label-info">HTML & CSS</span></h2>
            </header>
            <div class="row">
                <section class="design-thinking col-md-5">
                    <h3>Processo de Design Thinking</h3>
                    <span class="fa fa-search"></span>
                    <span class="fa fa-long-arrow-right"></span>
                    <span class="fa fa-lightbulb-o"></span>
                    <span class="fa fa-long-arrow-right"></span>
                    <span class="fa fa-file-text-o"></span>
                    <span class="fa fa-long-arrow-right"></span>
                    <span class="fa fa-rocket"></span>
                    <p>[repete até obter o produto final]</p>
                </section>
                <div class="col-md-7">
                    <p>Para a realização de todos os <a href="#courses-tree">projetos abaixo</a>, você será guiado pelo processo de <strong>Design Thinking</strong> que engloba todas as <a href="http://docs.escolamupi.com.br/conteudos/design-thinking" target="_blank">etapas</a> envolvidas em um projeto de design: desde a sua concepção à execução.
                    </p>
                    <p>
                    Em cada etapa do processo, você terá instruções do que fazer e do que estudar. Aproveite sempre todas as dicas, realize as atividades e estude os materiais multimídia disponíveis, usando o fórum sempre que precisar =)
                    </p>
                </div>
            </div>
            <section id="courses-tree" class="courses">
                <h4><i class="fa fa-sitemap"></i> Árvore de projetos</h4>
                {% for course in courses %}
                <!-- COURSE -->
                    <div class="course proj{{course.home_position}}">
                        <div class="course-content">
                            <a href="{% url 'course_intro' course.slug %}">
                                <h2>{{ course.name }}</h2>
                            </a>
                            {% if course.thumbnail %}
                                <div class="thumb_container">
                                    <img src="{{ MEDIA_URL }}{{ course.thumbnail }}" class="img-responsive center-block">
                                </div>
                            {% endif %}
                            <section class="skills">{{course.structure|timtec_markdown}}</section>
                            <!-- <p>{{course.abstract}}</p> -->
                            <div class="btn-group">
                                <a href="{% url 'course_intro' course.slug %}" class="btn btn-success">{% trans 'Go to course' %}</a>
                                <a href="{% url 'course_intro' course.slug %}" class="btn btn-success"><i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                <!-- END COURSE -->
                {% endfor %}
            </section>
            <section class="badges">
                <h3>Ao realizar todos os projetos você ganha:</h3>
                <div class="row">
                    <div class="col-md-2 col-xs-6">
                        <p class="badge-img">
                            <img src="{% static 'img/htmlovo.png' %}" />
                        </p>
                        <h4>HTML nível 1</h4>
                        <p>Reconhece um código HTML e consegue estruturar uma página básica.</p>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <p class="badge-img">
                            <img src="{% static 'img/cssovo.png' %}" />
                        </p>
                        <h4>CSS nível 1</h4>
                        <p>Reconhece um código em CSS e conhece as propriedades básicas de estilização.</p>
                    </div>
                </div>
            </section>
            <div class="modal fade" id="modal-help">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Como funciona a Escola Mupi</h4>
                        </div>
                        <div class="modal-body textcenter">
                            <iframe width="640" height="480" src="//www.youtube.com/embed/DkdDuAxwX1g?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- CONTAINER -->
{% endblock %}
