{% extends 'base.html' %}
{% load i18n %}
{% load compressed %}
{% load staticfiles %}
{% load timtec_markdown %}

{% block head %}
    {{block.super}}
    {% compressed_js 'forum' %}
    {% compressed_js 'admin_course_header' %}
{% endblock %}

{% block content %}
<script>
 window.question_id = {{ question_django.pk }};
 window.user_id = {{ user.pk }};
</script>

<!-- CONTAINER -->
<div id="forum" class="course-forum">

    <div class="main-content container">
        <!-- HEADER -->
        {% include "_course-header-inline.html"  with course=question_django.course %}
        <!-- END HEADER -->

        <!-- MAIN CONTENT -->
        <section id="forum-content" class="row" ng-app="forum" ng-controller="QuestionCtrl">
            {% verbatim angularjs %}

            <article class="question no-bottom-border row">
                <div class="rating col-md-1" ng-app="vote" ng-controller="QuestionVoteCtrl">
                    <div class="arrow-up" ng-class="{active: question_vote.value==1}" ng-click=vote('up')></div>
                    <div class="votes" >{{ question.votes }}</div>
                    <div class="arrow-down" ng-class="{active: question_vote.value==-1}" ng-click=vote('down')></div>
                </div>
                <div class="col-md-8">
                    <section class="row question-content">
                        <div class="col-lg-1 img-rounded avatar">
                            <img src="{{ question.user_obj.picture }}">
                        </div>
                        <div class="col-md-11">
                            <h1 class="top bottom">{{ question.title }}</h1>
                            <p class="author bottom">
                                Pergunta feita em <strong>{{ question.timestamp|date:"dd/MM/yy" }}</strong> por <a href="/profile/{{ question.username }}">{{ question.user_obj.name }}</a>
                            </p>
                            <p ng-bind-html="question.text|markdown"></p>
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <ul class="nav forum-menu">
                        <li><a href="{% url 'forum' course.slug %}">
                            <span class="fa fa-comments"></span>
                            Ver todas as perguntas deste projeto</a>
                        </li>
                        <!-- <li><a href="#">
                            <span class="fa fa-question-circle"></span>
                            Criar uma nova pergunta</a></li> -->
                    </ul>
                </div>
            </article>

            {% endverbatim angularjs %}

            <!-- ANSWERS -->
            <section class="answers">
                <div class="col-lg-8 col-lg-offset-1">
                    <h2><span ng-init="num_answers={{ question_django.answers.count }}" class="label label-info"> {% verbatim angularjs %}{{ num_answers }}{% endverbatim angularjs %}</span> Respostas</h2>
                    {% verbatim angularjs %}
                    <article class="answer top row" ng-repeat="answer in answers">

                        <div class="rating col-md-1" ng-app="vote" ng-controller="AnswerVoteCtrl">
                            <div class="arrow-up" ng-class="{active: answer_vote.value==1}" ng-click=vote('up')></div>
                            <div class="votes">{{ answer.votes }}</div>
                            <div class="arrow-down" ng-class="{active: answer_vote.value==-1}" ng-click=vote('down')></div>
                        </div>
                        <div class="col-md-11">
                            <section class="row answer-content">
                                <div class="col-lg-1 img-rounded avatar">
                                    <img src="{{ answer.user_obj.picture }}">
                                </div>
                                <div class="content">
                                    <p ng-bind-html="answer.text|markdown"></p>
                                    <p class="author textright clearfix">
                                        Resposta feita em <strong>{{ answer.timestamp|date:"dd/MM/yy" }}</strong> por <a href="/profile/{{ answer.username }}">{{ answer.username }}</a>
                                    </p>
                                </div>
                            </section>
                        </div>
                    </article>
                    {% endverbatim angularjs %}

                    <section class="your-answer" id="editor">
                        <span>Deixe sua resposta</span>
                        <div class="forum-form">
                            <div class="form-group text-editor">
                                <div class="wmd-panel" markdowneditor="true">
                                    <div id="wmd-button-bar" class="js-button-bar"></div>
                                    <textarea ng-model="new_answer_text" class="form-control" id="wmd-input" rows="10"></textarea>
                                    <input type="hidden" ng-model="question_id" value="{{ question.pk }}" mp-value-copy/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                            </div>
                            <div class="form-group textright bottom">
                                <button ng-click="new_answer()" class="btn btn-success">Enviar</button>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <!-- END MAIN CONTENT-->
        </section>
    </div>
</div>
<!-- END CONTAINER -->
{% endblock %}
