{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load timtec_markdown %}
{% block content %}

<!-- COURSE -->
<div id="payment" class="course-intro">

    <!-- HEADER -->
	<div class="container">
        	<!-- PAGE-HEADER -->
	        <div class="page-header">
            <header>
			    <h1>{% trans 'Fazer pagamento' %}</h1>
                <p>Clique em assinar abaixo para realizar o pagamento e iniciar seus estudos!</p>
            </header>
			<!-- writes out the form tag automatically -->

            <div class="payment_method">
                {% for pm in payment_methods %}
                    <div class="btn_subscribe">
                        {{ pm.form }}
                    </div>
                    <div>
                        {{ pm.description_markdown | timtec_markdown }}
                    </div>
                {% endfor %}
            </div>

            <p>Para outras formas de pagamento, por favor nos envie um email para contato@mupi.me</p>
		</div>
	</div>
</div>
{% endblock %}
