{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<!-- COURSE -->
<div id="payment" class="course-intro">

    <!-- HEADER -->
	<header class="container">
        	<!-- PAGE-HEADER -->
	        <div class="page-header">

			<h1>{% trans 'Escolha sua forma de pagamento' %}</h1>
			<!-- writes out the form tag automatically -->

            <div>
                {% for pm in payment_methods %}
                    <div>
                        {{ pm.form }}
                    </div>
                    <div>
                        {{ pm.description }}
                    </div>
                {% endfor %}
            </div>
		</div>
	</header>
</div>
{% endblock %}
