<!-- FOOTER -->
<div id="site-footer" class="footer">
    <div class="container">
        <div class="row">
            <ul class="textcenter col-lg-12 nav-footer">
                <li><a href="#" data-toggle="modal" data-target="#modal-about">Sobre</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modal-contact">Contato</a></li>
                <li><a href="guia">Ajuda</a></li>
                <li><a href="/pages/terms">Termos de uso</a></li>
                <li><a href="/pages/politica-de-privacidade">Política de privacidade</a></li>
            </ul>
        </div>
        <div class="row">
            <ul class="textcenter col-lg-12 nav-social-icons">
              <li>
                <a class="fb" href="http://www.facebook.com/escolamupi" target="_blank" title="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a class="ln" href="http://www.linkedin.com/company/mupi" target="_blank" title="linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a class="tw" href="https://twitter.com/escolamupi" target="_blank" title="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
<!-- END FOOTER -->

<div class="modal fade" id="modal-about">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sobre a Escola Mupi</h4>
            </div>
            <div class="modal-body">
                <p>
                Somos uma escola online em língua portuguesa que ensina tecnologia a pessoas leigas, de qualquer lugar, através da metodologia de resolução de problemas reais. Acreditamos na apropriação de tecnologia (através de materiais multímidia) para promover e disseminar o ensino de qualidade e no aluno como centro do processo de aprendizagem.
                </p>
                <h5>O que desenvolveremos nos alunos</h5>
                <ul>
                    <li>Desenvolvimento das competências:</li>
                    <li>raciocínio lógico</li>
                    <li>organização profissional</li>
                    <li>autonomia</li>
                    <li>criatividade</li>
                    <li>Desenvolvimento do domínio tecnológico importante para qualquer carreira profissionalatualmente e não somente as da área</li>
                    <li>Desenvolvimento de habilidades profissionais</li>
                    <li>Design Thinking, comunicação, negociação, etc.</li>
                </ul>
                <h5>Carreira disponível - Web Design para iniciantes</h5>
                <p>O conteúdo dos projetos traz os conceitos técnicos básicos de como desenvolver web sites (HTML5 e CSS3) e profissionais (metodologia de trabalho Design Thinking e negociações comerciais) para atuar como web designer. Caso o aluno desejar continuar com essa carreira, basta continuar nas carreiras avançadas da Escola Mupi.</p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Contato</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1">
                        <form class="form-horizontal" method="post" action="{% url 'contact' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Sou</label>
                                <div class="col-lg-8">
                                    <select class="form-control" name="{{contact_form.occupation.name}}">
                                        <option>Estudante</option>
                                        <option>Professor</option>
                                        <option>Jornalista</option>
                                        <option>Administrador de instituição educacional</option>
                                        <option>Outro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Quero falar sobre</label>
                                <div class="col-lg-8">
                                    <select class="form-control" name="{{contact_form.subject.name}}">
                                        <option>Problemas no registro de usuários</option>
                                        <option>Problemas técnicos</option>
                                        <option>Acessibilidade para estudantes</option>
                                        <option>Certificados e exames</option>
                                        <option>Relacionamento institucional</option>
                                        <option>Outro assunto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Nome</label>
                                <div class="col-lg-8">
                                    <input required type="text" class="form-control" name="{{contact_form.name.name}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Email</label>
                                <div class="col-lg-8">
                                    <input required type="email" class="form-control" name="{{contact_form.email.name}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Mensagem</label>
                                <div class="col-lg-8">
                                    <textarea required class="form-control" rows="6" name="{{contact_form.message.name}}"></textarea>
                                </div>
                            </div>
                            <div class="submit textright">
                                <button type="reset" class="btn btn-danger">Limpar</button>
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
