{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<div id="profile" class="page container">
  <div class="row profile-card">
      <div class="col-md-3 profile-avatar">
          <img src="{{ profile_user.get_picture_url }}" class="img-rounded">
      </div>
      <div class="col-md-9">
        <h3 class="top">{{profile_user.first_name}} {{profile_user.last_name}}</h3>

        <p><span class="fa fa-suitcase"></span>
          {% if profile_user.occupation %}
            {{profile_user.occupation}}
          {% else %}
              -
          {% endif %}
        </p>

        <p><span class="fa fa-map-marker"></span>
          {% if profile_user.city %}
            {{profile_user.city}}
          {% else %}
              -
          {% endif %}
        </p>

        {% if profile_user.site %}
          <p><a href="{{profile_user.site}}" target="_blank"><i class="fa fa-external-link"></i> {{profile_user.site}}</a></p>
        {% endif %}
        {% if profile_user.biography %}
        <blockquote>
          <p>{{profile_user.biography}}</p>
        </blockquote>
        {% endif %}

      </div>
  </div>

</div>
{% endblock %}
