<div class="form-group">
    <label for="wmd-input-{{id}}">{{ title }}</label>
    <div class="text-editor">
        <div class="row">
            <div class="col-lg-12" id="wmd-button-bar-{{id}}"></div>
            <button ng-click="preview=!preview;refreshPreview()" ng-class="{'active':preview}"
                    class="btn preview">Visualizar</button>
        </div>
        <div class="row">
            <div class="col-lg-12" style="position:relative">
                <textarea id="wmd-input-{{id}}" class="col-lg-12 form-control wmd-textarea"
                          ng-show="!preview"
                          ng-model="content" rows="15"></textarea>

                <div class="col-lg-12" ng-show="preview" id="wmd-preview-{{id}}" class="wmd-preview"></div>
            </div>
        </div>
    </div>
</div>
